.titles__card{
    width: 220px;
    text-align-last: center;
    border:1px solid #66bcbc;
    padding: 10px;
    margin-right: 20px;
}

.container__inner{
display: flex;
}

.title__category{
    width: 100%;
}
.titles__image{
    width: 220px;
}