.header{
    display: flex;
    height: 60px;
    background-color:#66bcbc;
    width: 100%;

}
.header__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 68px ;
}
.search{
    width: 40%;
}
.link__page{
    margin-right: 40px;
    text-decoration: none;
    color: #fff;
}
.auth__btn{
    background-color: transparent;
    margin-right: 10px;
    border-radius: 12px;
    border: 1px solid #fff;
    padding: 5px 10px;
    transition: .2s linear;
    color: #fff;
}
